 h1 {
     font-family: Arial, Helvetica, sans-serif;
 }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff1f0;
}
 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
 }

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }

 .container {
     padding: 2px 16px;
 }

 .container2 {
     width: 95%;
 }

 .container2>div {
     display: inline-block;
     float: left;
     width: 25%;
     height: fit-content;
 }

 .container3 {
     width: 95%;
 }

 .container3>div {
     display: inline-block;
     float: left;
     width: 20%;
     height: fit-content;
 }

 .buttonpagar {
     background-color: #f44336;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }